<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h2>Register</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>

        <div class="password-box">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span onclick="togglePassword()">👁️</span>
        </div>

        <button>Register</button>
    </form>

    <p>Already have an account? <a href="/">Login</a></p>
</div>

<script>
function togglePassword() {
    const pass = document.getElementById("password");
    pass.type = pass.type === "password" ? "text" : "password";
}
</script>

</body>
</html>